<div class="container">
               
        <!-- Page heading -->
        <section class="heading">
            <h1><strong>Contact</strong></h1>
        </section>
        <hr style="height:2px;border-width:0;background-color:gray">

        <div class="controls">
    
        <!-- Contact Me Form-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">Firstname *</label>
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_lastname">Lastname *</label>
                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_message">Message *</label>
                        <textarea id="form_message" name="message" class="form-control" placeholder="Please, leav us a message  with the issues you are experiencing and we will get back to you within the next 24 hours *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                </div>
            </div>
        </div>

        <!-- connect with me buttons -->
            <br>
        <section class="wrapper">
            <a class="btn-link" href="https://www.linkedin.com" target="_blank">
                <i style="font-size:35px" class="fa fa-linkedin-square"></i>
            </a>
            <a class="btn-link" href="https://github.com" target="_blank">
                <i style="font-size:35px" class="fa fa-github"></i>
            </a>
            <a class="btn-link" href="https://www.instagram.com" target="_blank">
                <i style="font-size:35px" class="fa fa-instagram"></i>
            </a>
            <a class="btn-link" href="https://twitter.com" target="_blank">
                <i style="font-size:35px" class="fa fa-twitter"></i>
            </a>
        </section>
    </div>

    <link rel="stylesheet" href="public/stylesheet/help-style.css">