  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 style="text-align: center">Welcome <span class="member-name"></span></h2>
        <h3 style="text-align: center" id="search-req">Please search for a Song, Artist, or Album Name</h3>
      </div>
    </div>

    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search" style = "color: black;">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    
  </div>
 
  <div id="top_x_div" style="width: 900px; height: 500px;"></div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">